<h2> Choose Survey To Edit </h2>
<%= form_for :id, :url => {:action => "editSurvey"} do |f| %>
	<%= f.collection_select @survey, @surveys, :id, :survey,
		options = {:prompt => "Choose a survey"}, :class => "survey_suggest" %> <br />
<br />
	<%= f.submit "Continue" %>
<% end %>
