<h1>Choose a Survey to Rate</h1>
<%= button_to "Survey 1", :controller => "suggest_rates", :action => "suggest" %><br /> <br />

<%= link_to "Main Menu", :controller => "pages", :action => "continue" %>
